<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>IAA UFES</title>
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/IAA-UFES.webp') }}" alt="Logo UFES" class="logo">
        <h1>IAA UFES</h1>
    </div>
    <div class="chatbox">
        <div class="chatbox-header">
            <h2>Chat com o Assistente Virtual</h2>
        </div>
        <div class="chatbox-body" id="chatbox-body">
            <!-- Mensagens do chat -->
        </div>
        <div class="chatbox-input-container">
            <input type="text" class="chatbox-input" id="chatbox-input" placeholder="Digite sua mensagem...">
            <button class="chatbox-send-button" id="chatbox-send-button">Enviar</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
